@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 
 /*#2 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

 /*#3 */
button {
  /* button 요소에 기본적으로 설정되는 스타일 속성 초기화 */
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

option{
  font-size:18px;
}

.flex {
  
  display: flex;
  flex-direction: row; /* 요소를 가로로 배치합니다. */
  justify-content: space-between; /* 가로 간격을 균등하게 설정합니다. */
  align-items: center; /* 요소를 수직 정렬합니다. */

}

.flex > * {
  flex: 1; /* 각 요소가 가로로 확장됩니다. */
}

.flex > * {
  width: calc(50% - 1rem); /* 가로 너비를 50%로 설정하고 간격을 조절합니다. */
  margin-right: 40px;
}

.goToWhere{
    border-radius: 3px;
    text-align: center;
    width:100px;  
    height:55px;
}


.BookFlights {
  display: flex;
  width:100%;
  height:100%;
  align-items: center;
  justify-content: center;
}

/* 달력 크기 / 외곽 둥글게  */
.wrapper {
    width: 500px;
    height: 64vh;
    background: #BFE4FF;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
  }
   
  /* 년도 / 월 표시 및 이동 화살표 */
  .wrapper .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .wrapper .nav .current-date {
    margin: 0px;
    padding-top: 5px;
    font-size: 24px;
    font-weight: 600;
  }

  .wrapper .nav button {
    width: 38px;
    height: 38px;
    font-size: 30px;
    color: #878787;
  }

  .calendar{
    width:100%;
  }

  /* 요일/날짜 가로로 배치 */
  .calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
  }

  .calendar .weeks{
    margin-right: 2rem;
    margin-bottom: 15px;
  }

  .calendar .weeks li {
    font-weight: 500;
  }

  .calendar .days {
    margin-right: 2rem;
    margin-bottom: 10px;
  }

  .calendar ul li {
    /* 요일/날짜 width 값 */
    width: calc(100% / 7);
    /* 오늘 날짜 표시 위치를 잡기 위한 position */
    position: relative;
  }

  .calendar .days li {
    /* li 요소들 z-index로 살짝식 띄어줌 */
    z-index: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .days li.active {
    color: #fff;
  }

  .calendar .days li::before {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
  }



  .days li:hover::before {
    background-color: #f2f2f2;
  }

  .days li:active::before {

    background-color: #999999;

  }

.monthInput {

    border:black solid 2px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    width:100px;
    margin-top: 5px;
    text-align: center;

}

.dayInput {

    border:black solid 2px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    width:50px;
    margin-top: 5px;
    text-align: center;
    margin-left: 4px;

}





