<label for="date" class="block text-gray-700 text-sm font-bold mb-2"
  >검색</label
>
<form action="/search/attraction" method="GET">
  <div class="p-2 bg-gray-200 text-gray-700 font-semibold rounded">
    <input type="text" name="search" id="search" />
    <input
      type="submit"
      id="searchBtn"
      value="찾기"
      class="bg-blue-500 text-white px-5 py-2 rounded hover:bg-blue-600"
      style="
        width: 75px;
        height: 40px;
        text-align: center;
        border: none;
        color: white;
        border-radius: 5px;
      "
    />
  </div>
</form>

<label for="results" class="block text-gray-700 text-sm font-bold mb-2"
  >검색결과 <br />{{ plans.length}}건의 결과가 있습니다.</label
>
<div class="mb-4" style="width: 100%; overflow-y: auto; max-height: 1000px">
  <div>
    {% for data in plans %}
    <div class="data-row containerT" style="width: 100%">
      <form action="/search/temp" method="GET">
        <input type="hidden" name="id" value="{{data.id}}" />
        <input type="hidden" name="name" value="{{data.name}}" />
        <input type="hidden" name="addr" value="{{data.addr}}" />
        <input type="hidden" name="lat" value="{{data.lat}}" />
        <input type="hidden" name="lng" value="{{data.lng}}" />

        <table
          class="rwd-table"
          style="width: 100%; background-color: rgb(26, 99, 130)"
        >
          <tbody>
            <tr>
              <th>사진</th>
              <th>장소이름</th>
              <td style="text-align: center">
                <button
                  type="submit"
                  class="bg-gray-500 text-white px-5 py-2 rounded hover:bg-blue-600"
                  style="
                    width: 75px;
                    height: 40px;
                    text-align: center;
                    border: none;
                    color: white;
                    border-radius: 5px;
                  "
                >
                  등록
                </button>
              </td>
            </tr>
            <tr>
              <td rowspan="2" data-th="사진"><img src="{{ data.photo }}" /></td>
            </tr>

            <tr>
              <td colspan="2" style="font-weight: bold; color: #333">
                {{ data.name }}
              </td>
            </tr>
            <tr>
              <td
                colspan="3"
                style="font-size: 13px; font-weight: bold; color: gray"
              >
                {{ data.addr }}
              </td>
            </tr>
            <tr>
              <td style="font-size: 13px; font-weight: bold; color: gray">
                여행 예정일
              </td>
              <td
                colspan="2"
                style="font-size: 13px; font-weight: bold; color: gray"
              >
                <select id="years" name="years">
                  {% for i in range(2024, 2034) %}
                  <option value="{{ i }}">{{ i }}</option>
                  {% endfor %}
                </select>
                년 <br /><br />
                <select id="months" name="months">
                  {% for i in range(01, 12) %}
                  <option value="{{ i }}">{{ i }}</option>
                  {% endfor %}
                </select>
                월
                <select id="days" name="days">
                  {% for i in range(1, 31) %}
                  <option value="{{ i }}">{{ i }}</option>
                  {% endfor %}
                </select>
                일
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <br />
    {% endfor %}
  </div>
</div>
