<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planner</title>
    <link rel="stylesheet" type="text/css" href="../public/index.css" />
    <link rel="stylesheet" type="text/css" href="../public/table.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="../public/index.js"></script>
  </head>

  <body class="bg-gray-100">
    <div class="flex flex-col md:flex-row schedule">
      <div class="w-full md:w-1/5 bg-white p-4">
        <div class="flex flex-col space-y-2">
          <button
            class="p-2 text-gray-700 font-semibold rounded"
            id="locationDaysBtn"
          >
            Step 1 날짜 확인
          </button>
          <button
            class="p-2 text-gray-700 font-semibold rounded"
            id="searchMainBtn"
          >
            Step 2 직접 검색
          </button>
          <button
            class="p-2 text-gray-700 font-semibold rounded"
            id="locationAttractionBtn"
          >
            Step 3 장소 선택
          </button>
          <button
            class="p-2 text-gray-700 font-semibold rounded"
            id="locationLodgingBtn"
          >
            Step 4 숙소 선택
          </button>
          <button
            class="p-2 text-gray-700 font-semibold rounded"
            id="locationConvBtn"
          >
            Step 5 편의시설 확인
          </button>
          <button
            class="mt-4 bg-blue-500 text-white p-2 rounded hover:bg-blue-600"
            id="locationSaveBtn"
          >
            일정생성
          </button>
        </div>
      </div>

      <div class="w-full md:w-3/4 p-4">
        <div
          class="bg-white p-4 rounded-lg shadow-md flex flex-col md:flex-row"
          id="formContent"
        >
          <div class="bg-white p-4 rounded-lg shadow-md" style="flex: 1">
            <h2 id="searchURL" class="text-xl font-semibold mb-mainSearch4">
              <p>{{first.search}} <br>
                {{first.start_day}} ~ {{first.end_day}}
              </p>
            </h2>


            <div class="mb-4" id="attractionContent"></div>



          </div>
          <div
            class="bg-white p-4 rounded-lg shadow-md"
            style="font-size: 13px; flex: 1"
          >
            
          <p style="font-size: 18px; font-weight: bold;">
            장소를 선택해주세요</p><br>
            <div>
              {% for data in pickPlans %}
              <div class="data-row containerT" style="width: 100%">
                <form action="/search/delete" method="GET">
                  <input type="hidden" name="id" value="{{data.id}}" />

                  <table
                    class="rwd-table"
                    style="width: 100%; background-color: rgb(26, 99, 130)"
                  >
                    <tbody>
                      <tr>
                        <th>사진</th>
                        <th>장소이름</th>
                        <td style="text-align: center">
                          <button
                            type="submit"
                            class="bg-gray-500 text-white px-5 py-2 rounded hover:bg-blue-600"
                            style="
                              width: 75px;
                              height: 40px;
                              text-align: center;
                              border: none;
                              color: white;
                              border-radius: 5px;
                            "
                          >
                            삭제
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td rowspan="2" data-th="사진"><img src="{{ data.photo }}"></td>
                      </tr>

                      <tr>
                        <td colspan="2" style="font-weight: bold; color: #333">
                          {{ data.name }}
                        </td>
                      </tr>
                      <tr>
                        <td
                          colspan="3"
                          style="
                            font-size: 13px;
                            font-weight: bold;
                            color: gray;
                          "
                        >
                          {{ data.addr }}
                        </td>
                      </tr>
                      <tr>
                        <td
                          colspan="3"
                          style="
                            font-size: 13px;
                            font-weight: bold;
                            color: gray;
                          "
                        >
                          {{ data.days }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
              <br />
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="divmap" class="md:flex md:w-full">
      <div id="map"></div>
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWPWJFuzQtmuoZqrStOHb_aRWdavmolR0&callback=initMap&v=weekly"
        defer
      ></script>
    </div>
    <script src="/public/complex.js"></script>
  </body>
</html>
